/* universal selector */
*{
    font-family: "Merriweather";
    box-sizing: border-box; /* beräknar storleken på innehållet till en eventuell ram och tjockleken på ramen*/
    padding: 0;
    margin: 0; /* återställer varje webbläsares grundinstälnningar */
}

body{
background-color: #e9967a;
width:100%;
max-width:50em; /* 50em är lika 800px */
margin:0 auto; /* centrerar innehållet */ 
}

ul{
    list-style-type:none; /* tar bort punkterna från ul */
  }

  a:link {
    text-decoration: none; /* tar bort understräck från alla länkar*/ 
}

#nav2{
    padding:1em 2em; /*denna kod ger padding 1em ovan och nedan, 2em höger och vänster*/
    background:#333;
  }

#nav2 li{
    display:inline-block; /*gör listan horizontellt*/
    margin-right:5em;
    margin:1em;
  }

  #a1:hover {
    text-decoration: none;
  color: #555; /*ändrar länk färgen när man drar över den*/
}

nav a{
    color: white; /*ändrar färgen på länkarna*/
}

h2+h3 {      
    color:greenyellow /*Adjecent Sibling Selector där ex2 får färgen greenyellow*/
}
.article1{
    background-color: slategrey;/* alla artiklar får en bakgrundsfärg*/
    margin: 1em;/*alla artiklar får en margin på 1*/
}
#rubrik{
    padding:0.5em;
    text-align: center; /*h3 med id=rubrik får en padding och centrerat innehåll*/
}
#ul1 li a{
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
}
span > p{
    color:yellow;
    text-align: center; /* ger inlinelementet färgen gul*/
    
    
}
#a2:hover{
    text-decoration: none;
    color: red; /* om man hovrar över länkarna så blir de röda*/

}
#ul2{
   text-align: center;
}
#ul1{
    text-align: center;
}

.contact{
    text-align: center;
    margin-top: 0.5em;

}
.tel p{
    display:inline-block;/* gör att det blir horizientellt*/
    color: black;
}

.web p{
    display:inline-block;/* gör att det blir hoizientellt*/
    color: white;
}
#span1{
    display: inline-block; /* gör att det blir hoizientellt*/
    text-align: center; /* centrerar texten*/ 
}

#span2{
    display: inline-block;
    text-align: center;
}

.blog_summary{
    text-align: center;
}
#p1{
    color:whitesmoke
}

.div1{
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.tel ~ .web{
    color:white; /* genereal sibling combinator med font färgen vit*/
}



