html {
    border: 20px solid #3B006D;
    background-color: white;
}

h2 {
    text-align: center;
    color: black;
}

h4 { 
    text-align: center;
    color: black;
}

p {
    border: px solid black;
    color: #3B006D;
}
aside p {
    color: red;
}

ul{
    list-style-type:none; /*tar bort punkterna från ul*/
  }

#main{
    border: 1px solid red;
    padding: 1em;
}
#figcaption{
    color:black;
}
nav li{
    display:inline-block; /*gör listan horizontellt*/
    margin-right:1em;
  }

  nav a{
    color:purple;
  }

  a:hover {
    text-decoration: none;
  color:red; /*ändrar länk färgen till röd när man hoovrar över den*/
}

