*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body{
	background: url(kingkong.jpg) no-repeat;
    background-size: auto auto;
background-size: cover;
}
/*Visas enbart på mobilen*/
label{
    color:black;
    line-height: 40px;
    font-size:2em;
    cursor:pointer;
  }
  
  /*En dold checkbox som inte visas*/
  #inputmeny {
    display: none;
  }
  
  /*Används för att gömma menyn på mobilen*/
  #inputmeny:checked + #div1 nav {
    display: block;
  }
  
  nav ul ul li{
      position:relative; /* sätter positionen till vara relativt till sin behållare*/
      display:none;
  }
  
  /*Döljer undermenyn när den dropdownar*/
  nav ul ul ul{
      display:none;
    
  }
  ul{
    list-style-type:none; /* tar bort punkterna från ul */
  }
  
  a:link {
    text-decoration: none; /* tar bort understräck från alla länkar*/ 
  }
  
  /*Visar dropdown vid hover på ul li*/
  nav ul li:hover ul li{
      display: block;
    
  }
  
  /*Menyn döljs på mobilen*/
  nav {
    display: none;	
      text-transform: uppercase;
  }
  
  nav a{
      display:block;
      text-decoration: none;
      font-family: merriweather;
      font-weight: bold;
      font-size:10pt;
      color:black;
    
  }
  
  nav a:hover{
      background:#223433;
      color:white;
  }
  
  nav ul{
      list-style: none;
    opacity:0.8;
    
  }
  
  nav ul li{
    
    line-height: 40px;
    padding-left:50px;
  }
  
  
  nav ul li ul li a{
    color:white;
  }
  .caption {
	padding:2em;
	color: white;
    font-size: 1.2em;
  }
  .caption {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
}
a:focus .caption,
a:hover .caption {
    background: black;
    opacity: 0.5;
}
  

img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}   


  @media screen and (min-width: 27em) {
    .korten {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }

    .korten a {
        margin-bottom: 0;
    }
.kort{
  display:grid;
}

.kort > *{
  grid-column: 1;
        grid-row: 1;
}
.caption {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
}
a:focus .caption,
a:hover .caption {
    background: black;
    opacity: 0.5;
}
    


  }

  @media screen and (min-width: 60em){
    /*Tecknet för mobil menyn döljs på desktop*/
      label{
        display:none;
      } 
     
      
      /*Menyn på desktoppen*/
      nav {
        height:40px;
        width:804px;/*beror på vilken bredd man satt på de enskilda li, i detta fall är de 4 li*200px+margin-right på 1px*/ 
        
        
    
    }
      /*Alla ul li centreras på desktoppen*/
      nav ul{
        text-align:center;
      }  
    
     /*Menyn på desktoppen*/
    nav ul li{
        width:150px;
        height:40px;
      margin-right:1px;
      padding:0;
    }
    
    /*Döljer dropdown*/
    nav ul ul li{
        position:relative; /* sätter positionen till vara relativt till sin behållare*/
        display:none;
    }
    
    /*Döljer submenyn i dropdown*/
    nav ul ul ul{
        display:none;
      
    }
    
    /*Visar dropdown vid hover på ul li*/
    nav ul li:hover ul li{
        display: block;
      
    }
    
    /*Visar submenyn i dropdown*/
    nav ul ul li:hover ul{
        display:block;
        position:absolute; /*sätter positionen till att absolute mot sin förälder som är satt till att vara relativt*/
        width:150px; /*samma som ul li*/
        left:150px; /*absolute position 150px ifrån sin förälder*/
        top:0px; /*absolute position högst mot sin förälder*/
      
    }
      /*Färgen för undermenyer på desktoppen återställs*/
      nav ul li ul li a{
      color:black;
    }
      /*Färgen för undermenyer på desktoppen återställs*/
      nav ul ul li ul a{
      color:black;
    }
    nav{
        display:flex;
    
    }
    nav ul{
        display:flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    #div1{
        display: flex;
        align-items: baseline;
        padding:0.5em;
        margin:0.5em;
        justify-content: space-between;

    }
    .menyn{
        display: flex;
        flex-direction: row;
        flex-wrap: row wrap;
        justify-content: flex-end;
        padding:0.5em;
    }
    .touch{
        font-size: 3em;
        padding: 1em;
    }
   
    .korten {
        grid-template-columns: repeat(4, 1fr);
    }


    .double {
        grid-column: span 2;
        grid-row: span 2;
    }

.triple{
    
    grid-column: span 1;
    grid-row: span 2;
      


    


  }
  }
  